table, th, td {
  border: 1px solid;
  text-align: center;
}

.heroes li:hover {
  left: .1em;
}

.item:hover{
  background-color: #acacac;
  position: relative;
  cursor: pointer;
}

.item.ativo{
  background-color: #8eacc9;
  cursor: default;
}