<div>
    <div>
        <label for="id">Id:</label><br>
        <input type="text" id="id" #id disabled placeholder="{{this.poligono.id}}"/>
    </div>
    <div>
          <label for="qtdLados">Quantidade de lados:</label>
          <select id="qtdLados" #lados name="qtdLados" [(ngModel)]="this.poligono.lados">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
    </div>
    <div>
        <label for="tamanho">Tamanho:</label><br>
        <input type="text" id="tamanho" #tamanho placeholder="{{this.poligono.tamanho}}"/>
    </div>
    <div>
        <label for="criado">Criado em:</label><br>
        <input type="text" id="criado" #criado disabled placeholder="{{this.data1}}"/>
    </div>
    <div>
        <label for="editado">Última modificação:</label><br>
        <input type="text" id="editado" #editado disabled placeholder="{{this.data2}}"/>
    </div>
    <button type="button" (click)="salvar(lados.value, tamanho.value);">Salvar</button>
    <app-botao-voltar></app-botao-voltar>
</div>