.principal{
    width: 50%;
    display: flex;
}

.lista{
    width: 33%;
    float: left;
}

.botoes{
    width: 34%;
    float: left;
}


div{
    margin-top: 10px;
}

label{
    margin-right: 8px;
}