table, th, td {
    border: 1px solid;
    text-align: center;
    font-size: 1.2rem;
    height: 2em;
  }

  select{
    border: none;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
  }

  select:hover{
    background-color: #d7e7f0;
  }
  
  .editar:hover{
    background-color: #6cde9a;
    cursor: pointer;
  }
  
  .excluir:hover{
    background-color: #de6c6c;
    cursor: pointer;
  }
  
  .data{
    width: 7em;
  }
  
  .poligono{
    width: 100%;
  }
  
  button {
    background-color: #eee;
    border: 1px solid;
    cursor: pointer;
    color: black;
    font-size: 20px;
    width:593.5px;
    margin-top: 8px;
  }