<div>
    <h2>Formas cadastradas</h2>
    <table>
      <tr>
        <td>Id</td>
        <td>Poligonos(Id)</td>
        <td>Resumo do Poligono</td>
        <td>Formas(Id)</td>
        <td>Resumo da forma 0</td>
      </tr>
      <tr class = "item" *ngFor="let forma of formas">
        <td>{{ forma.id }}</td>
        <td *ngIf="forma.resumoPoligonos.length > 0; else elseBlock">
          <select class = "poligono" id="poligono" #poligono name="qtdLados">
            <option value="3" *ngFor="let resumo of forma.resumoPoligonos">{{resumo}}</option>
          </select>
        </td>
        <ng-template #elseBlock><td>Nenhum</td></ng-template>
        <td>{{ forma.resumoPoligonos[0] }}</td>
        <td>{{ forma.idsFormas[0] }}</td>
        <td>{{ forma.resumoFormas[0] }}</td>
      </tr>
    </table>
  </div>