<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <h2>Formas cadastradas</h2>
    <table>
      <tr>
        <td>Id</td>
        <td>Poligonos</td>
        <td>Formas</td>
        <td>Editar</td>
        <td>Excluir</td>
      </tr>
      <tr *ngFor="let forma of formas">
        <td>{{ forma.id }}</td>
        <td *ngIf="forma.poligonos.length > 0; else elseBlock">
          <select id="poligono" name="poligono" #p>
            <option *ngFor="let poligono of forma.poligonos">{{ getResumoPoligono(poligono) }}</option>
          </select>
        </td>
        <ng-template #elseBlock><td>Nenhum</td></ng-template>
        <td *ngIf="forma.resumoFormas.length > 0; else elseBlock2">
          <select id="agrupamento" name="agrupamento" #a>
            <option *ngFor="let resumo of forma.resumoFormas">{{resumo}}</option>
          </select>
        </td>
        <ng-template #elseBlock2><td>Nenhum</td></ng-template>
        <td class = "editar" (click)="detalhes(forma.id)"><i class="fa fa-pencil" style="font-size:26px"></i></td>
        <td class = "excluir" (click)="apagar(forma);">X</td>
      </tr>
    </table>
  </div>