<div>
    <div>
          <label for="qtd-lados">Quantidade de lados:</label>
          <select id="qtd-lados" #lados name="qtd-lados">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
    </div>
    <div>
        <label for="tamanho">Tamanho:</label>
        <input type="text" id="tamanho" #tamanho />
    </div>
    <button type="button" (click)="add(lados.value, tamanho.value);">Salvar</button>
    <app-botao-voltar></app-botao-voltar>
</div>